<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
    <div class="ui menu fixed inverted">
        <div class="ui container">
            <div class="header item"><i class="big gripfire icon"></i>Blog Site</div>
            <a href="/" class="item">Home</a>
            <a href="/new" class="item">New Post</a>
            <a href="/" class="item">Home</a>
        </div>
        
    </div>
    
